body{
    font-family: Helvetica, sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
p{
    text-align: justify;
    text-justify: inter-word;
}

.orange-color {
    color:sandybrown;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    margin: 25px; /*myself*/
    
}

.half-width img{
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    color:white;
    font-weight: 600;
    border-radius: 8px;
    
}
.banner{
    background: url('../img/bg.png');
    background-repeat: no-repeat;   
}

.dream-big {
    background-image: url('../img/dream-bg.png');
    background-repeat: no-repeat; 
    background-position: right;
}

